FreiHAND_pub_v2/
data/train_data_778*
scripts/checkpoints/best_point_model_test.pth

# debug outputs
debug_*.png

# local test images
eval_images/

# macOS
.DS_Store

# python cache
__pycache__/
*.pyc